.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  background-color: gainsboro;
}
#btn{
  padding: 15px;
  display:flexbox;
  background-color: white;
  border-radius: 60%;
}
#btn:focus{
  background-color: brown;
  
}
#btn:hover{
  transform: scale(110%);
}
.presentacion{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  column-gap: 20px;
}

img{
  max-width: 50%;
  max-height:50%;
  position: static;
  border-radius: 5%;
}
.resultados1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 180px;
  row-gap: 30px;
  height: 80px;
}
.resultados2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 180px;
  row-gap: 20px;
}

#jugar{
  width: 200px;
  height: 50px;
  font-size: x-large;
  font-family:Arial, Helvetica, sans-serif;
  font: bold;
  background-color: seagreen;
}

#reset{
  width: 200px;
  height: 50px;
  font-size: x-large;
  font-family:Arial, Helvetica, sans-serif;
  font: bold;
  background-color: rgb(244, 168, 167);
}
#ingresoNombre{
  width: 200px;
  height: 40px;
  font-size: x-large;
  font-family:Arial, Helvetica, sans-serif;
  font: bold;
  background-color: rgb(139, 139, 230);
}

#nombre{
  width: 250px;
  height: 30px;
  font-size: 20px;
}